.sidebar {

    &__button {
        background: $grey-light;
        border: calculate-rem(1px) $black solid;
        font-weight: bold;
        margin: calculate-rem(15px) 0;
        padding: $default-module-padding;
        width: 100%;

        &--link {
            background:none!important;
            border:none; 
            padding:0!important;
            font: inherit;
            cursor: pointer;
        }
    }

    &__header {
        background: $grey-dark;
        padding: calculate-rem(20px);
        margin: calculate-rem(30px) calculate-rem(-24px);
    }
}

