main {
    border-left: calculate-rem(1px) solid $black;
    display: flex;
    align-items: stretch;
}

textarea {
    max-width: 90%;

    .form-control {
        height: calculate-rem(300px);
    }
}
