@model IEnumerable<TestRailMVC.Models.ApplicationUser>


<table class="table">

    @foreach (var item in Model)
    {
        using (Html.BeginForm("RemoveUser", "Projects"))
        {
            @Html.AntiForgeryToken()

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <input type="submit" value="Remove" class="red sidebar__button--link" />
                </td>
                @Html.Hidden("UserIdentifier", item.Id)
                @Html.Hidden("ProjectIdentifier", ViewData["ProjectId"])
            </tr>
        }
    }
</table>