@model IEnumerable<TestRailMVC.Models.ApplicationUser>


<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Remove", "Delete", "TestCases", new { id = item.Id }, new { @class = "red" })
            </td>
        </tr>
    }

</table>